body {
background-image: url(/universe.jpg);
color: white;
}

.new_planet {
/*  color: white;
*/  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  width: 120px;
  display: inline-block;
  text-decoration: none;  
}

.added_planet {
  display: inline-block;
  padding: 10px;
  clear: both;
  border: 2px solid white;
  border-radius: 20px;
  width: 100px;
}